# Ignore virtual envs and local clutter
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore data artifacts and logs
artifacts/
logs/
*.csv
*.npz
*.h5
*.db

# Ignore DVC cache and metadata
.dvc/
.dvc/cache/
.dvc/tmp/
.dvcignore

# Ignore notebooks and local dev files
notebook/
*.ipynb

# Ignore version control and config
.git/
.gitignore
.env
*.egg-info/
